@page "/"
@using MAUIGameLauncher.Data;
@using MAUIGameLauncher.Model;
@using System.Diagnostics;
    
@inject MAUIGameLauncher.Data.Games Games
@inject MAUIGameLauncher.Data.Launchers Launchers

<h1 class="main-Header">Game Launcher v.0.1</h1>
<div class="">
    <div class="">
        <h4 class="card-title" data-bs-toggle="collapse" href="#collapseOne"> Steam </h4>
        <div id="collapseOne" class="collapse show " data-bs-parent="#accordion">
            @foreach (var item in steamGames)
            {
                <div class="Card margin-bx game">
                    <div class="gamecard-Img">
                    </div>
                    <div class="gamecard">
                        <h4>@(item.gameName)</h4>

                    </div>
                    <div class="gameCard-Info margin-txt">
                        Placeholder
                    </div>
                    <div class="gamecard-Bttn">
                        <button class="bttn-1 bi bi-play" onclick="@(() => OnClick(item.gameLaunchPath))" >Spielen
                        </button>

                    </div>
                </div>
                <hr />
            }
        </div>
    </div>
</div>
<p></p>
<div class="">
    <div class="">
        <h4 class="card-title" data-bs-toggle="collapse" href="#collapseTwo"> Epic Games </h4>
    </div>
    <div id="collapseTwo" class="collapse show " data-bs-parent="#accordion">
        @foreach (var item in epicGames)
        {
            <div class="Card margin-bx game">
                <div class="gamecard-Img">
                </div>
                <div class="gamecard">
                    <h4>@(item.gameName)</h4>

                </div>
                <div class="gameCard-Info margin-txt">
                    Placeholder
                </div>
                <div class="gamecard-Bttn">
                    <button class="bttn-1 bi bi-play" onclick="@(() => OnClick(item.gameLaunchPath))">
                        Spielen
                    </button>

                </div>
            </div>
        }
    </div>
</div>
<p></p>
<div class="">
    <div class="">
        <h4 class="card-title" data-bs-toggle="collapse" href="#collapseThree"> Ubisoft Connect </h4>
    </div>
    <div id="collapseThree" class="collapse show " data-bs-parent="#accordion">
        @foreach (var item in ubiGames)
        {
            <div class="Card margin-bx game">
                <div class="gamecard-Img">
                </div>
                <div class="gamecard">
                    <h4>@(item.gameName)</h4>

                </div>
                <div class="gameCard-Info margin-txt">
                    Placeholder
                </div>
                <div class="gamecard-Bttn">
                    <button class="bttn-1 bi bi-play" onclick="@(() => OnClick(item.gameLaunchPath))">
                        Spielen
                    </button>

                </div>
            </div>
            <hr />
        }
    </div>
</div>
 


@code {
    IEnumerable<Game> steamGames;
    IEnumerable<Game> epicGames;
    IEnumerable<Game> ubiGames;
    protected override async Task OnInitializedAsync()
    {
        Games.startupCheckGames();
        steamGames = Games.games.Where(x => x.LauncherId == 0).ToList();
        epicGames = Games.games.Where(x => x.LauncherId == 1).ToList();
        ubiGames = Games.games.Where(x => x.LauncherId == 3).ToList();
    }
    void OnClick(string gameLaunchPath) => Process.Start(gameLaunchPath);
}